html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  justify-content: center;
  /* background-image: url("images/contact-form-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center; */
}

.contact-wrapper {
  text-align: center;
  padding: 50px;
  border-radius: 15px;
  background-color: white;
  /* box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important; */
}

label {
  font-size: 20px;
  display: block;
  margin-top: 20px;
  margin-bottom: 3px;
}

input {
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  width: 300px;
  height: 40px;
  border: none;
  border-radius: 5px;
  border: 1px solid #555;
}

textarea {
  font-family: inherit;
  font-size: 16px;
  padding: 10px;
  width: 300px;
  height: 200px;
  border-radius: 5px;
  border: 1px solid #555;
}

button {
  font-size: 20px;
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

button:hover {
  transform: scale(1.1);
}

button:active {
  transform: translateY(0.5px);
  transition: none;
}

@media (prefers-color-scheme: dark) {
  body {
    /* background-image: url("images/contact-form-background-dark.jpg"); */
    color: #f1f1f1;
    background-color: #191c1f;
  }

  .contact-wrapper {
    background-color: #191c1f;
  }

  label {
    color: #f1f1f1;
  }

  input {
    background-color: #191c1f;
    color: #f1f1f1;
  }

  textarea {
    background-color: #191c1f;
    color: #f1f1f1;
    border: 1px solid #555;
  }

  button {
    background-color: #444;
    color: #f1f1f1;
    border: none;
  }
}
