:root {
  --square-size: 11px;
  --square-gap: 5px;
  --habit-1: #f08080;
  --habit-2: #7bc96f;
  --habit-3: #87cefa;
  --habit-4: #9370db;
  --habit-5: #ff7f50;
  --habit-6: #0044cc;
  --habit-7: #ffd700;
  --habit-8: #ff69b4;
  --limit-warning-color: #d9534f;
  --limit-warning-bg: #fff0f0;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
  align-items: center;
  zoom: 1.5;
}

body.dark {
  --background-color: #191c1f;
  --text-color: #f1f1f1;
  --border-color: #f1f1f1;
  --button-bg: #1e1e1e;
  --button-text: #f1f1f1;
  --input-text: #f1f1f1;
  --today-btn-border: #3399ff;
  --progress-dark: #a0a0a0;
  --limit-warning-color: #f28b82;
  --limit-warning-bg: #3a1f1f;
}

body {
  background-color: var(--background-color, white);
  color: var(--text-color, black);
}

input,
button {
  background-color: var(--background-color, white);
  color: var(--input-text, black);
  border-color: var(--border-color, black);
}

#limit-warning {
  font-size: 0.9rem;
  padding-left: 4px;
  margin-top: 5px;
  font-style: italic;
  color: var(--limit-warning-color);
  background-color: var(--limit-warning-bg);
  animation: fadeInOut 1.75s ease-in-out forwards;
  width: 165px;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

header {
  display: flex;
  flex-direction: row;
  position: fixed;
  top: 10px;
  right: 10px;
  gap: 10px;
  align-items: center;
}

header p {
  margin: 0;
  padding: 0;
}

#toggle-theme-btn {
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: var(--text-color, black);
  zoom: 1.5;
}

header a {
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: var(--text-color, black);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 45px;
}

#prev-date-btn,
#next-date-btn,
#delete-habit-btn,
#add-habit-button,
#toggle-theme-btn,
#info-btn {
  background-color: transparent;
  border: none;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

#github-icon {
  transition: transform 0.2s ease-in-out;
}

#prev-date-btn:hover,
#next-date-btn:hover,
#delete-habit-btn:hover,
#add-habit-button:hover,
#toggle-theme-btn:hover,
#today-btn:hover,
#github-icon:hover,
#info-btn:hover {
  transform: scale(1.1);
}

.hover-effect:hover {
  transform: scale(1.1);
}

.hover-effect:active {
  transform: translateY(0.5px);
  transition: none;
}

#prev-date-btn:active,
#next-date-btn:active,
#delete-habit-btn:active,
#add-habit-button:active,
#toggle-theme-btn:active,
#today-btn:active,
#github-icon:active,
#info-btn:active {
  transform: translateY(0.5px);
  transition: none;
}

#today-btn {
  background-color: var(--background-color, white);
  border: 2px solid var(--today-btn-border, #422800);
  border-radius: 30px;
  box-shadow: var(--today-btn-border, #422800) 4px 4px 0 0;
  color: var(--today-btn-border, #422800);
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  zoom: 0.45;
  transition: transform 0.2s ease-in-out;
}

#today-btn:hover {
  background-color: #fbeee0;
}

#today-btn:active {
  box-shadow: #422800 2px 2px 0 0;
  transform: translate(2px, 2px);
}

#delete-habit-btn {
  color: #ff5c5c;
}

#habit-list {
  padding-left: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
}

#habit-item {
  display: inline-block;
  max-width: 200px;
  max-height: 41.4px;
  font-size: 0.9rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

#habit-label {
  max-height: 41.4px;
  overflow: auto;
}

.date-container {
  display: flex;
  align-items: center;
  gap: 5px;
}

#date-displaying {
  outline: none;
  border: none;
  font-size: 1.5rem;
}

#input-habit {
  /* margin-top: 10px; */
  display: flex;
  gap: 5px;
  animation: fadeIn 0.75s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#dashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#graph-btns {
  display: flex;
  gap: 5px;
}

#display-streak {
  text-align: center;
}

#habit-to-add {
  font-size: 0.9rem;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid var(--border-color, black);
  outline: none;
  user-select: text;
  caret-color: var(white, black);
}

#graph-btn {
  background-color: var(--background-color, white);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 8px;
  transition: transform 0.2s ease-in-out;
}

#graph-btn:disabled {
  background-color: #fbeee0;
}

#graph-btn:hover {
  transform: scale(1.1);
  background-color: #fbeee0;
}

#graph-btn:active {
  transform: translateY(0.5px);
  transition: none;
}

.squares {
  grid-auto-flow: column;
  grid-auto-columns: var(--square-size);
  display: grid;
  grid-gap: var(--square-gap);
  grid-template-rows: repeat(8, var(--square-size));
  padding: 0px;
  padding-left: 0px;
}

.graph {
  width: 235px;
  display: inline-block;
  padding: 3px;
  border: 1px var(--text-color, black) solid;
  border-radius: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
}

.graph-stat {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  gap: 10px;
}

#days-tracked {
  display: flex;
  justify-content: center;
  text-align: right;
  font-size: 0.65rem;
}

ul {
  list-style-type: none;
}

.squares li {
  background-color: var(--progress-dark, #ebedf0);
  border-radius: 1px;
}

.squares li[data-level="1"] {
  background-color: var(--habit-1);
}

.squares li[data-level="2"] {
  background-color: var(--habit-2);
}

.squares li[data-level="3"] {
  background-color: var(--habit-3);
}

.squares li[data-level="4"] {
  background-color: var(--habit-4);
}

.squares li[data-level="5"] {
  background-color: var(--habit-5);
}

.squares li[data-level="6"] {
  background-color: var(--habit-6);
}

.squares li[data-level="7"] {
  background-color: var(--habit-7);
}

.squares li[data-level="8"] {
  background-color: var(--habit-8);
}

@media (max-width: 768px) {
  body {
    zoom: 1.15;
  }

  .container {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }

  header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 10px;
    right: 10px;
    gap: 10px;
    align-items: center;
    zoom: 0.8;
  }
}

@media (min-width: 769px) and (max-width: 1300px) {
  body {
    zoom: 1.25;
  }

  .container {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;
    padding: 0 10px;
  }

  header {
    position: fixed;
    top: 10px;
    right: 10px;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    zoom: 0.9;
  }

  html,
  body {
    overflow-x: hidden;
  }
}

#snackbar {
  visibility: hidden;
  width: fit-content;
  font-size: 0.8rem;
  background-color: var(--limit-warning-bg);
  color: var(--limit-warning-color);
  text-align: center;
  border-radius: 2px;
  padding: 8px;
  position: fixed;
  right: 10px;
  bottom: 10px;
}

#snackbar.show {
  visibility: visible;
  animation: fadeInOut 1.75s ease-in-out forwards;
}

#dashboard-note {
  zoom: 0.55;
  margin-top: 5px;
  grid-template-columns: 315px 168px;
  gap: 0px;
  row-gap: 4px;
  animation: none;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.note-style {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 4px;
  height: 18px;
}

#gray-square {
  width: 13px;
  height: 13px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 1px;
  margin-right: 0px;
  background-color: var(--progress-dark, #ebedf0);
}

#color-circle {
  width: 10px;
  height: 10px;
  display: inline-block;
  vertical-align: middle;
  border-radius: 10px;
  margin-right: 0px;
  background-color: var(--progress-dark, #ebedf0);
}

#info-btn {
  margin-top: 5px;
}

#info-row {
  display: flex;
  flex-direction: column;
  margin-top: 0px;
  height: 0px;
}

#habit-row {
  display: flex;
  flex-direction: column;
  height: 0px;
}
